@model Proyecto_Restaurante.Models.Categoria

@{
    ViewData["Title"] = "Detalle";
}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">📄 Detalle de Categoría</h4>
    </div>

    <div class="card-body">
        <p class="fs-5">
            <strong>Nombre:</strong> @Model.Nombre
        </p>

        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary">← Volver</a>
            <a asp-action="Edit" asp-route-id="@Model.CategoriaId" class="btn btn-warning">Editar</a>
        </div>
    </div>
</div>