@model Proyecto_Restaurante.Models.Factura

@{
    ViewData["Title"] = "Eliminar Factura";
}

<div class="card shadow border-danger">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">⚠️ Eliminar Factura</h4>
    </div>

    <div class="card-body">

        <p>¿Seguro que deseas eliminar la factura:</p>

        <h5 class="text-danger">#@Model.NumeroFactura</h5>

        <ul>
            <li><strong>Total:</strong> ₡ @Model.Total.ToString("N2")</li>
            <li><strong>Método:</strong> @Model.MetodoPago</li>
        </ul>

        <form asp-action="Delete">
            <input type="hidden" asp-for="FacturaId" />

            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
        </form>

    </div>
</div>