@model Proyecto_Restaurante.Models.Orden

@{
    ViewData["Title"] = "Detalle Orden";
}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">📄 Detalle de Orden</h4>
    </div>

    <div class="card-body">

        <p><strong>Fecha:</strong> @Model.Fecha</p>
        <p><strong>Mesa:</strong> 🪑 @Model.Mesa?.MesaId</p>
        <p><strong>Salonero:</strong> 👨‍🍳 @Model.Salonero?.SaloneroId</p>

        <div class="d-flex justify-content-between mt-3">
            <a asp-action="Index" class="btn btn-secondary">← Volver</a>
            <a asp-action="Edit" asp-route-id="@Model.OrdenId" class="btn btn-warning">Editar</a>
        </div>

    </div>
</div>