@model Proyecto_Restaurante.Models.Producto

@{
    ViewData["Title"] = "Detalle Producto";
}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">📄 Detalle de Producto</h4>
    </div>

    <div class="card-body">

        <p><strong>Nombre:</strong> @Model.Nombre</p>
        <p><strong>Precio:</strong> ₡ @Model.Precio</p>
        <p><strong>Categoría:</strong> @Model.Categoria?.CategoriaId</p>

        <div class="d-flex justify-content-between mt-3">
            <a asp-action="Index" class="btn btn-secondary">← Volver</a>
            <a asp-action="Edit" asp-route-id="@Model.ProductoId" class="btn btn-warning">Editar</a>
        </div>

    </div>
</div>