@model Proyecto_Restaurante.Models.Reserva

@{
    ViewData["Title"] = "Eliminar Reserva";
}

<div class="card shadow border-danger">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">⚠️ Eliminar Reserva</h4>
    </div>

    <div class="card-body">

        <p>¿Seguro que deseas eliminar esta reserva?</p>

        <ul>
            <li><strong>Fecha:</strong> @Model.Fecha</li>
            <li><strong>Personas:</strong> @Model.CantidadPersonas</li>
            <li><strong>Estado:</strong> @Model.Estado</li>
        </ul>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ReservaId" />

            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>

        </form>

    </div>
</div>