@model Proyecto_Restaurante.Models.ProductoOrden

@{
    ViewData["Title"] = "Eliminar Producto de Orden";
}

<div class="card shadow border-danger">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">⚠️ Eliminar Producto de Orden</h4>
    </div>

    <div class="card-body">

        <p>¿Seguro que deseas eliminar este registro?</p>

        <ul>
            <li><strong>Cantidad:</strong> @Model.Cantidad</li>
            <li><strong>Precio:</strong> ₡ @Model.Precio</li>
        </ul>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductoOrdenId" />

            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>

        </form>

    </div>
</div>