@model Proyecto_Restaurante.Models.Mesa

@{
    ViewData["Title"] = "Eliminar Mesa";
}

<h4>⚠️ Eliminar Mesa</h4>
<p>¿Seguro que deseas eliminar la mesa?</p>

<ul>
    <li><strong>Número:</strong> @Model.NumeroMesa</li>
    <li><strong>Capacidad:</strong> @Model.Capacidad</li>
    <li><strong>Estado:</strong> @Model.Estado</li>
</ul>

<form asp-action="Delete">
    <input type="hidden" asp-for="MesaId" />
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    <input type="submit" value="Eliminar" class="btn btn-danger" />
</form>