@model Proyecto_Restaurante.Models.Mesa

@{
    ViewData["Title"] = "Eliminar Mesa";
}

<div class="card shadow border-danger">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">⚠️ Eliminar Mesa</h4>
    </div>

    <div class="card-body">

        <p>¿Seguro que deseas eliminar la mesa?</p>

        <ul>
            <li><strong>Número:</strong> @Model.NumeroMesa</li>
            <li><strong>Capacidad:</strong> @Model.Capacidad</li>
        </ul>

        <form asp-action="Delete">
            <input type="hidden" asp-for="MesaId" />

            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
        </form>

    </div>
</div>